
/*--------body-----------------------------------------------------------------------------------------------------*/
body {
  font-family:'Grechen Fuemen', cursive;/*шрифт из установленных в гугл шрифтах - имеет линки в html*/
  font-size: 14px; /*стандартный размер шрифта*/
  color: rgb(238, 238, 238);
  line-height: 1.6; /*стандартный оттуп меду строчками*/
  margin: 0; /*убираем все мержины*/
}

*,
*:after,
*:before {
  box-sizing: border-box;
  /*

  border-box говорит браузеру учитывать любые
  границы и внутренние отступы в значениях,
  которые вы указываете в ширине и высоте элемента.
  Если вы выставите элементу ширину 100 пикселей,
  то эти 100 пикселей будут включать в себя границы
  и внутренние отступы, а контент сожмётся,
  чтобы выделить для них место. Обычно это
  упрощает работу с размерами элементов.
*/
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: flex-start;*/
  position: relative;

  width: 100%;/*высота будет занимать сто процентов высоты блока посетителя сайта*/

  background-color: rgb(255, 255, 255);
  background-size: 100% auto;
}

.maincontant{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cardcontainer
{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;

}
.cardcontent{
  width: 100%;
  height: 90%;
  border-width: 1px;
  border-style: dashed;
  border-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

}

.footer{
  width: 100%;
  height:30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  border-width: 1px;
  border-style: dashed;
  border-color: white;

}

.footerbutton{
  width: 100px;
  height:10vh;
  background-color: rgba(31, 76, 199, 0.74);

  border-width: 1px;
  border-style: dashed;
  border-color: white;

  font-family: 'Antic Slab', serif;
  font-size: 13px;
  font-weight:100;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.footerbutton:hover{
  background-color: rgb(5, 24, 131);
}



